//- フォーム部分

//- レイアウトテンプレート
extends layout.pug

//-- div : main_content --
block main_content
    div(class='container')
        h2 フォームの例
        form(action='/input' method='POST')
            p: input(type='text' name='sample_text' arial-size='40' placeholder='ここに文字列を入力')
            p
                input(type='submit' value='入力完了')
                input(type='reset' value='リセット')